<nb-card size="xxlarge">
    <nb-card-header>
        <div class="cameras-card-header">
            <span class="cameras-card-title">{{year}}</span>
            <span class="cameras-filter">
                <a [class.active]="selected === myCard.front && isSingleView" (click)="changeImg(myCard.front)">
                    Front
                </a>
                <a [class.active]="selected === myCard.back && isSingleView" (click)="changeImg(myCard.back)">
                    Back
                </a>
                <a [class.active]="selected === myCard.content && isSingleView" (click)="changeImg(myCard.content)">
                    Content
                </a>
                <a class="bigger" [class.active]="!isSingleView" (click)="isSingleView = false">
                    <i class="nb-grid-a"></i>
                </a>
            </span>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="cameras single-view" *ngIf="isSingleView">
            <div class="camera" [style.background-image]="'url(' + selected + ')'">
            </div>
        </div>
        <div class="cameras" *ngIf="!isSingleView">
            <div class="camera col-sm-6" [style.background-image]="'url(' + myCard.front + ')'" (click)="changeImg(myCard.front)">
            </div>
            <div class="camera col-sm-6" [style.background-image]="'url(' + myCard.back + ')'" (click)="changeImg(myCard.back)">
            </div>
            <div class="camera col-sm-12" [style.background-image]="'url(' + myCard.content + ')'" (click)="changeImg(myCard.content)">
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>

    </nb-card-footer>
</nb-card>