<nb-card size="xxlarge">
    <nb-card-header>
        <div class="cameras-card-header">
            <span class="cameras-card-title">{{year}}</span>
            <nb-actions size="medium" fullWidth>
                <nb-action>
                    <span>Front</span>
                </nb-action>
                <nb-action>
                    <span>Back</span>
                </nb-action>
                <nb-action>
                    <span>Content</span>
                </nb-action>
            </nb-actions>
            <span class="cameras-filter">
                <a [class.active]="isSingleView" (click)="isSingleView = true">
                    <i class="nb-square"></i>
                </a>
                <a [class.active]="!isSingleView" (click)="isSingleView = false">
                    <i class="nb-grid-a"></i>
                </a>
            </span>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="cameras single-view" *ngIf="isSingleView">
            <div class="camera" [style.background-image]="'url(' + selected + ')'">
            </div>
        </div>
        <div class="cameras" *ngIf="!isSingleView">
            <div class="camera col-sm-6" [style.background-image]="'url(' + myCard.front + ')'" (click)="changeImg(myCard.front)">
            </div>
            <div class="camera col-sm-6" [style.background-image]="'url(' + myCard.back + ')'" (click)="changeImg(myCard.back)">
            </div>
            <div class="camera col-sm-12" [style.background-image]="'url(' + myCard.content + ')'" (click)="changeImg(myCard.content)">
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>

    </nb-card-footer>
</nb-card>